*{
    margin: 0;
}
section {
    width: 194px;
    height: 170px;
   
}
.app-card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    & .day {
        font-weight: bold;
        font-size: 64px;
        color: #3C444E;
    }

    & .discription-day {
        color: #D2D2D2;
    }
}
.icone {
    align-self: flex-end;  
}
