.container {
    background-color: #62D2B3;
    border-radius: 17px;
    width: 114px;
    height: 140px;
    display: flex;
    padding: 17px 17px;
    flex-direction: column;
    justify-content: space-around;

    & p {
        font-family: 'Roboto', sans-serif;
        font-size: 21px;
        font-weight: bold;
        color: white;
        width: 50%;
    }
    
}

.container :nth-child(1) {
    align-self: flex-end;  
}