.icon-user__container {
    background: white;
    
    display: flex;
    
     & .radius {
        background-size: 32px 32px;
        border: 2px solid white;
        border-radius: 50%;
        margin: 0px;
        height: 32px;
        width: 32px;
        background-color: white;
       
    }
    & .image:nth-child(2){
        position: relative;
        left: -7px; 
    }
    & .image:nth-child(3) {
        position: relative;
        left: -14px; 
    }
    & .more-users {
        background-color: #62D2B3;
        position: relative;
        left: -21px; 
    }
    & .more-users > p {
      color: white;
      padding-top: 5px;
      text-align: center;
    }
}